* {   
   box-sizing: border-box;
 }
body {
  font-family:'Lato', sans-serif;
  font-size:16px;
  width: 95%;
  height: 70px;
  margin: 30px;
  }
header {
  width: 95%;
  height: 200px;
  margin: 30px;
  }
.mat-card {
 border-radius: 32px;
 margin: 10px 10px;
 padding: 20px;
 border-color: rgb(53, 38, 192);
}
.mat-card#first-card {
  padding: 0;
  }
div#profile-blackground {
  width:"100%";
  height:"300";
}
div#info-img {
    width: 0px;
}
.education-date {
  background-color: antiquewhite;
  width: 12%;
  height: 10%;
}

